@{
}

<div class="mr-bottom-16">
    <input type="number" class="studentCount" id="studentCount" onchange="DisplayFields()" />
    <input type="button" id="btnForSolving" onclick="TaskSolving()" value="Решить" class="btn" style="display: none;"/>
</div>

<hr>

<textarea class="result" id="result" readonly></textarea>